<app-loading-container *ngIf="loading" [loading]="loading"></app-loading-container>
<div class="container">
  <mat-card *ngIf="!loading && resume">
    <mat-card-title>
      <app-header [personalInfo]="resume.personalInfo"></app-header>
    </mat-card-title>
    <mat-card-content>
      <div class="section profile">
        <app-profile
          [personalInfo]="resume.personalInfo"
          [personalExtraInfo]="resume.personalExtraInfo"
        ></app-profile>
      </div>
      <div class="section"></div>
      <div class="section"></div>
      <div class="section"></div>
      <div class="section"></div>
      <div class="section"></div>
      <div class="section"></div>
    </mat-card-content>
    <mat-card-footer>
      linkedin - twitter - web - infojobs
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="!loading && !resume">
    {{ message }}
  </mat-card>
</div>
