// @import "src/styles/variables";

.container {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width: 50rem;
  mat-card {
    flex: 1;
    margin: 2rem;
    background-color: #eeeeee;
    border-radius: .2rem;
    mat-card-title {
      // height: #{$header-height};
    }
    mat-card-content {
      // height: calc(100vh - 4rem - #{$header-height} - #{$footer-height});
    }
    mat-card-footer {
      text-align: center;
      // height: #{$footer-height};
      margin: 0;
    }
  }
}
