/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import "src/styles/variables.scss";

body {
  margin: 0;
  background-color: #b4b4b415;
  min-width: 54rem;
  font-family: "Google Sans",Arial,sans-serif;
}

.click {
  color: #52A9CC;
  cursor: pointer;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: .8;
  }
}