<div class="container" fxFlex="100%" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="1rem">
  <div fxLayoutAlign="center center">
    {{ 'maintenance.status' | translate }}
  </div>
  <div fxLayoutAlign="center center">
    {{ 'maintenance.seeMiOldCV' | translate }}
  </div>
  <div fxLayoutAlign="center center">
    <div class="click" (click)="windowRef.nativeWindow.open(personalInfo.contactInfo.socialNetworks[3].url)">
      {{ personalInfo.contactInfo.socialNetworks[3].url }}
    </div>
  </div>
</div>
