<div fxLayout="column" fxLayoutGap="1rem">
  <!-- fullname -->
  <div fxFlex fxLayout="column" class="title-full-name">
    <div class="first-name">{{ personalInfo.firstName }}</div>
    <div class="last-name">{{ personalInfo.lastName }}</div>
  </div>
  <!-- contact -->
  <div fxFlex fxLayout="column" fxLayoutAlign="left start">
    <div class="click" (click)="mailTo()">
      {{ personalInfo.contactInfo.email }}
    </div>
    <div class="click" (click)="windowRef.nativeWindow.open(this.website.url)">
      {{ website.url }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="role">
    {{personalInfo.role}}
  </div>
  <!-- Profile photo back -->
  <div fxFlex class="profile-photo" fxLayoutAlign="end">
    <img [src]="'/assets/' + currentResume + '/' + personalInfo.image" />
  </div>
</div>
