<div fxLayout="column">
  <div fxFlex>
    <h1 class="title-full-name">
      {{ personalInfo.name }} {{ personalInfo.surname }}
    </h1>
  </div>
  <div class="info" fxLayout="row" fxLayoutAlign="left start">
    <div fxFlex class="header-info-container">
      <div class="click" (click)="mailTo()">
        {{ personalInfo.contactInfo.email.address }}
      </div>
      <div class="click" (click)="openPage()">
        {{ website.url }}
      </div>
    </div>
    <div fxFlex class="header-language-container">
      <div class="language click" (click)="mailTo()">
        ES
      </div>
      <div class="language click" (click)="openPage()">
        EN
      </div>

    </div>

  </div>
</div>