.title-full-name {
  text-align: center;
  border-bottom:0.0625rem solid #10516e;
  color: #2f7ca0;

}
.header-info-container, .header-language-container {
  > div:not(:last-child) {
    margin-bottom: .375rem;

  }
}

.language {
  text-align: right;
}