@import "src/styles/variables";

.title-full-name {
  color: $resume-blue-dark;
  text-transform: uppercase;
  .first-name {
    font-size: 4rem;
  }
  .last-name {
    font-size: 2rem;
  }
}
.role {
  text-transform: uppercase;
  font-weight: bold;
  color: $resume-grey;
}

.profile-photo {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 10rem;
  img {
    border-radius: 0.375rem;
    height: 100%;
  }
}

